<app-toolbar/>

<div *ngIf="agents" >

  <div class="split-screen">

    <div class="left-section">

      <div class="w-100 d-flex justify-content-start">
        <button routerLink="/agents" class="btn btn-dark btn-lg return-btn">
          <i class="bi bi-arrow-left" ></i> Return
        </button>
      </div>



      <h1>{{ agents.displayName }}</h1>
      <p class="description">{{ agents.description }}</p>
      <p>Role: {{ agents.role?.displayName }}</p>

      <h3>Abilities</h3>
      <ul>

        <li *ngFor="let ability of agents.abilities" class="ability-item">

          <img *ngIf="ability.displayIcon"
               [src]="ability.displayIcon"
               [alt]="ability.displayName"
               class="ability-icon" />

          <div class="ability-text">
          <strong>{{ ability.displayName }}</strong>: {{ ability.description }}
          </div>

        </li>

      </ul>


    </div>

    <div class="right-section" [ngStyle]="{ 'background-image': getAgentGradient() }">
      <img [src]="agents.bustPortrait" [alt]="agents.displayName" class="agent-img" />
    </div>

  </div>

</div>
