<app-toolbar></app-toolbar>
<body>
  <div class="home-container">

  <div class="pantalla-dividida">
      <div class="izquierda">

        <h1>Bienvenido</h1>
        <p class="parrafo-1">Hola jugador</p>
        <p>aqui encontraras toda la informacion de tus agentes favoriitos, mapas, armas y proximamnete mucho mas.
    Esta pagina fue desarrollada con un API externa, trabajada con al tegnologia de Angular y TypeScript.</p>
        <button class="conocer-mas">Conocer más</button>

      </div>


      <div class="derecha">
        <img src="jett.png" alt="jett">
      </div>
    </div>
  </div>
</body>
